TELEGRAM_BOT_TOKEN=put_your_telegram_bot_token_here
TWITTER_CLIENT_MODE=browser
X_BEARER_TOKEN=put_your_x_api_bearer_token_here
X_BROWSER_PROFILE_DIR=.browser/x-profile
X_BROWSER_HEADLESS=false
X_BROWSER_CHANNEL=msedge
X_BROWSER_CDP_URL=
X_BROWSER_DEBUG_PORT=9222
X_FEED_URL=https://x.com/home
